.postInteractions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interactionsIcons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.interactionsIcons img {
  width: 20px;
}

.postInteractions button {
  background-color: #e50829;
  color: white;
  border-radius: 24px;
  padding: 14px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
