.postPage {
  display: flex;
  justify-content: center;
}

.postContainer {
  width: 70%;
  display: flex;
  border: 1px solid #d0d0d0;
  border-radius: 32px;
  overflow: hidden;
  max-height: 600px;
}

.postImg {
  flex: 1;
  background-color: #c0c0c0;
}
.postImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postDetails {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  overflow: hidden;
}

.postUser {
  display: flex;
  align-items: center;
  gap: 8px;
}

.postUser img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.postUser span {
  font-size: 14px;
}

@media (max-width: 751px) {
  .postContainer {
    flex-direction: column;
    max-height: unset;
  }
}

@media (max-width: 1127px) {
  .postContainer {
    width: 100%;
    margin-right: 16px;
  }
}
